body {
  font-family: "Average Sans";

  background-color: #18191a;
  color: #7f8c8d;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.main {
  padding-top: 2%;
}

hr {
  border-top: 1px solid #d0d3d4;
}

h6 {
  word-wrap: break-word;
}

.about {
  padding: 20px 20px 10px 20px;
  margin-top: 14px;
}

.sidenav,
.about,
.about-me,
.skills,
.experience,
.projects,
.project-desc,
.skills-info {
  background-color: #242526;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.socials h5 {
  margin-top: 5px;
}

a.social {
  color: #909497;
  margin: 0 0.25rem;
  transition: transform 250ms;
}
a.linkedin:hover,
a.github:hover,
a.email:hover,
a.resume:hover {
  transform: translateY(-2px);
  color: #f8f9f9;
  cursor: pointer;
}

.about-me,
.experience,
.projects,
.skills {
  justify-content: center;
  display: flex;
}

.skills {
  margin-bottom: 14px;
}

.skills-info {
  padding: 20px;
}

.about-me h3,
.skills h3,
.experience h3,
.projects h3 {
  padding: 20px 20px 10px 20px;
  color: #ccd1d1;

  font-family: "Alegreya SC";
  font-weight: bold;
}

.bullet::before {
  content: "•";
}

.bullet {
  margin-top: 25px;
  margin-left: -10px;
  position: absolute;
}

.project-desc h5 {
  font-weight: bold;
}

img {
  border: rgb(215, 219, 221, 0.4);
  border-style: solid;
  border-width: 0.1px;
}

.project-info {
  margin-bottom: -8px;
}

.project-desc h5 {
  padding: 0px 20px 0px 20px;
}

.project-desc h6 {
  padding: 0px 20px 20px 20px;
}

.project-desc {
  margin: 14px 0 14px 0;
  padding-top: 20px;
}

.project-desc h5,
a {
  color: #7fb3d5;
}

.project-desc h5:hover,
a:hover {
  color: #2e86c1;
}

.carousel-caption {
  background: rgba(28, 40, 51, 0.9);
  border-radius: 10px;
}

.vhr {
  border: none;
  border-left: 1px solid #d0d3d4;
  height: calc(100% + 4.5rem);
  width: 1px;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: -40px;
  margin-bottom: 0px;
}

::-moz-selection {
  color: #d5d8dc;
  background: #5dade2;
}

::selection {
  color: #d5d8dc;
  background: #5dade2;
}

a::selection,
.project-desc h5::selection {
  color: #f1c40f;
}

.vertical-timeline-element-date {
  color: #99a3a4;
  font-size: medium !important;
  font-weight: bold !important;
}

.vertical-timeline-element-title {
  color: #99a3a4;
  font-weight: bold;
}
