@media screen and (max-width: 1110px) {
  .sidenav h1 {
    font-size: xx-large;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .sidenav h1 {
    font-size: xx-large;
  }
}

@media screen and (max-width: 991px) {
  .experience-tools {
    margin-top: 20px;
  }
}

@media screen and (max-width: 320px) {
  h3 {
    font-size: larger;
  }

  h5 {
    font-size: large;
  }

  p,
  h6,
  li {
    font-size: smaller;
  }
}

@media only screen and (min-width: 992px) {
  .sidenav {
    position: fixed !important;
    width: calc(100% / 3 - 2 * 1em - 2 * 1px) !important;
    margin-right: -20px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .sidenav {
    position: fixed !important;
    width: calc(100% / 6 - 2 * 1em - 2 * 1px) !important;
    margin-right: -20px !important;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1510px) {
  .sidenav h1 {
    font-size: x-large;
  }

  .sidenav h5 {
    font-size: medium;
  }

  a.linkedin,
  a.github,
  a.email,
  a.resume {
    font-size: 10px !important;
  }
}

@media only screen and (min-width: 1510px) {
  .sidenav h1 {
    font-size: xx-large;
  }

  .sidenav h5 {
    font-size: larger;
  }
}
