.sidenav-details {
  overflow: hidden;
  padding: 10px;
}

.sidenav-details .avatar {
  width: auto;
  height: auto;
  overflow: hidden;
  overflow: hidden;
  margin-bottom: 10px;
}

.socials {
  align-content: center;
  justify-content: center;
  display: flex;
}

h1 {
  color: #ccd1d1;
  text-align: center;
}

h5 {
  color: #99a3a4;
  text-align: center;
}
