.sidenav-details {
  overflow: hidden;
  padding: 10px;
}

.sidenav-details .avatar {
  width: auto;
  height: auto;
  overflow: hidden;
  overflow: hidden;
  margin-bottom: 10px;
}

.socials {
  align-content: center;
  justify-content: center;
  display: flex;
}

.sidenav-details h1 {
  color: #ccd1d1;
  text-align: center;
}

.sidenav-details h5 {
  color: #99a3a4;
  text-align: center;
}

.sidenav-details {
  border-radius: 10px 10px 0px 0px;
  background: rgb(36, 37, 38);
  background: linear-gradient(
    0deg,
    rgba(36, 37, 38, 1) 0%,
    rgba(48, 51, 55, 1) 70%,
    rgba(66, 66, 66, 1) 100%
  );
}

.sidenav-cv {
  background-color: #303337;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn {
  margin: 10px auto;
  border-radius: 10px;
  color: #d0d3d4 !important;
  background-color: #303337;
}

.btn:hover {
  color: #2e86c1 !important;
}

.socials h5 {
  margin-top: 5px;
}

a.social {
  color: #909497;
  margin: 0 0.25rem;
  transition: transform 250ms;
}

a.linkedin:hover,
a.github:hover,
a.email:hover,
a.resume:hover {
  transform: translateY(-2px);
  color: #f8f9f9;
  cursor: pointer;
}
